@import url('https://fonts.googleapis.com/css?family=Quicksand');
html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Quicksand", "https://fonts.google.com/specimen/Quicksand", Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em 1em 3em;
}

h1, h2, h3, h4, h5, h6 {
    color: #202020;
    font-weight: 600;
    line-height: 1.3;
}

h3, h4, h5, h6 {
    padding: 0px;
}

.sitedescription {
    line-height: 1;
}

.authordate {
    color: #B7B4B6;
}

.lobster {
    font-family: "Zapfino"
}

a:hover {
    color: #00ACFB;
}

.comfyspacing {
    line-height: 1.5;
}
